# ======================
# Python environment
# ======================
.venv/
venv/
__pycache__/
*.pyc
*.pyo

# ======================
# Jupyter
# ======================
.ipynb_checkpoints/

# ======================
# Data (VERY IMPORTANT)
# ======================
data/
datasets/
*.nii
*.nii.gz
*.npy
*.npz

# ======================
# Outputs / results
# ======================
results/
outputs/
logs/
experiments/

# ======================
# Models
# ======================
*.pt
*.pth
*.ckpt
*.h5

# ======================
# System files
# ======================
.DS_Store
Thumbs.db

# ======================
# VS Code
# ======================
.vscode/

# ======================
# Misc
# ======================
*.zip
*.tar
*.gz